a {
  text-decoration: none;
  color: black; }

header {
  padding-top: 0; }

.menu_block {
  padding: 30px 0 30px 0; }

.menu_block:after {
  left: 43%;
  width: 930px; }

.link {
  cursor: pointer; }

.main .games {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center; }
  .main .games .timeline {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .main .games .timeline .block {
      cursor: pointer;
      padding: 0;
      box-sizing: border-box;
      border: 1px solid #c2c2c2;
      text-shadow: none;
      font-size: 24px;
      color: #8a8687;
      background: #fff;
      width: 292.5px;
      height: 90px;
      line-height: 45px;
      text-align: center;
      font-weight: 400; }

.main .teaser {
  height: 455px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .main .teaser .main_news {
    width: 70%;
    position: relative; }
    .main .teaser .main_news a:hover {
      background: rgba(0, 0, 0, 0.4); }
    .main .teaser .main_news h3 {
      position: absolute;
      width: 100%;
      top: 250px;
      font-size: 48px;
      line-height: 1.1;
      padding: 0 30px 0 0;
      color: #ffffff; }
    .main .teaser .main_news .date {
      position: absolute;
      top: 350px;
      font-size: 14px;
      color: #ccc; }
  .main .teaser .tournament {
    width: 30%; }
    .main .teaser .tournament .table thead {
      height: 39px;
      font-size: 14px;
      box-sizing: border-box;
      font-family: 'Economica', sans-serif; }
      .main .teaser .tournament .table thead th {
        border: 1px solid #c2c2c2;
        text-transform: uppercase;
        color: #908b8b;
        line-height: 38px;
        width: 60px;
        box-sizing: border-box; }
      .main .teaser .tournament .table thead th.team {
        width: 163px; }
    .main .teaser .tournament .table tbody {
      padding: 0;
      box-sizing: border-box; }
      .main .teaser .tournament .table tbody td {
        border: 1px solid #c2c2c2;
        text-shadow: none;
        font-size: 20px;
        color: #8a8687;
        background: #fff;
        height: 100%;
        line-height: 40px;
        text-align: center;
        font-weight: 400; }
      .main .teaser .tournament .table tbody tr:hover td {
        color: #fff;
        background: #608b7e; }

.main .news {
  height: 150px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .main .news .block {
    width: 270px; }

.main .stats .table thead {
  height: 39px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Economica', sans-serif; }
  .main .stats .table thead th {
    border: 1px solid #c2c2c2;
    text-transform: uppercase;
    color: #908b8b;
    line-height: 38px;
    box-sizing: border-box; }
  .main .stats .table thead .normal {
    width: 100px; }
  .main .stats .table thead .num {
    width: 46px; }
  .main .stats .table thead .bombardier .table .name, .main .stats .table thead .penalty .table .name {
    width: 250px; }
  .main .stats .table thead .sniper .table .name, .main .stats .table thead .assist .table .name {
    width: 350px; }

.main .stats .table tbody {
  padding: 0;
  box-sizing: border-box; }
  .main .stats .table tbody td {
    border: 1px solid #c2c2c2;
    text-shadow: none;
    font-size: 20px;
    color: #8a8687;
    background: #fff;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: 400; }
  .main .stats .table tbody tr:hover td {
    color: #fff;
    background: #608b7e; }

@charset "UTF-8";
.manager {
  height: 1200px; }
  .manager .container_12.menu {
    height: 240px; }
  .manager .block {
    height: 500px; }
  .manager nav {
    text-align: center; }
  .manager #menu {
    display: block;
    margin-top: 30px;
    /*Задаём стили для разделов нашего меню*/
    /*Делаем скрытую часть видимой*/ }
    .manager #menu li {
      display: inline-block;
      position: relative;
      height: 40px;
      font-size: 14px;
      font-family: 'Economica', sans-serif;
      border: 1px solid #c2c2c2;
      color: #908b8b;
      line-height: 40px;
      width: 130px;
      text-align: center;
      box-sizing: border-box;
      /*Стили для скрытого выпадающего меню*/ }
      .manager #menu li ul {
        position: absolute;
        top: 40px;
        left: -1px;
        display: none;
        border: 1px solid #c2c2c2;
        width: 128px; }
    .manager #menu li:hover {
      background-color: #608b7e;
      color: #FFF; }
      .manager #menu li:hover ul {
        display: block; }
  .manager .box {
    margin-top: 0; }
  .manager .shown {
    display: none; }
    .manager .shown .settings .subblock {
      display: none; }

/*# sourceMappingURL=app.css.map */