a {
  text-decoration: none;
  color: black; }

header {
  padding-top: 0; }

.menu_block {
  padding: 30px 0 30px 0; }

.menu_block:after {
  left: 43%;
  width: 930px; }

.link {
  cursor: pointer; }

footer {
  background: #608b7e;
  padding-top: 20px;
  margin-top: 50px; }

.main .games {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main .games .block {
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    text-shadow: none;
    font-size: 24px;
    color: #8a8687;
    background: #fff;
    width: 292.5px;
    height: 90px;
    line-height: 45px;
    text-align: center;
    font-weight: 400; }
    .main .games .block .participants {
      line-height: 60px; }
    .main .games .block .date {
      line-height: 30px; }

.main .teaser {
  height: 455px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .main .teaser .main_news {
    width: 70%;
    position: relative; }
    .main .teaser .main_news a:hover {
      background: rgba(0, 0, 0, 0.4); }
    .main .teaser .main_news h3 {
      position: absolute;
      width: 100%;
      top: 250px;
      font-size: 48px;
      line-height: 1.1;
      padding: 0 30px 0 0;
      color: #ffffff; }
    .main .teaser .main_news .date {
      position: absolute;
      top: 350px;
      font-size: 14px;
      color: #ccc; }
  .main .teaser .tournament {
    width: 30%; }
    .main .teaser .tournament .table thead {
      height: 39px;
      font-size: 14px;
      box-sizing: border-box;
      font-family: 'Economica', sans-serif; }
      .main .teaser .tournament .table thead th {
        border: 1px solid #c2c2c2;
        text-transform: uppercase;
        color: #908b8b;
        line-height: 39px;
        width: 3%;
        box-sizing: border-box; }
      .main .teaser .tournament .table thead th.team {
        width: 18%; }
    .main .teaser .tournament .table tbody {
      padding: 0;
      box-sizing: border-box; }
      .main .teaser .tournament .table tbody td {
        border: 1px solid #c2c2c2;
        text-shadow: none;
        font-size: 20px;
        color: #8a8687;
        background: #fff;
        height: 100%;
        line-height: 45px;
        text-align: center;
        font-weight: 400; }
      .main .teaser .tournament .table tbody tr:hover td {
        color: #fff;
        background: #608b7e; }

.main .news {
  height: 150px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .main .news .block {
    width: 20%; }

.main .stats .table thead {
  height: 39px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Economica', sans-serif; }
  .main .stats .table thead th {
    border: 1px solid #c2c2c2;
    text-transform: uppercase;
    color: #908b8b;
    line-height: 38px;
    box-sizing: border-box; }
  .main .stats .table thead .normal {
    width: 100px; }
  .main .stats .table thead .num {
    width: 70px; }

.main .stats .table tbody {
  padding: 0;
  box-sizing: border-box; }
  .main .stats .table tbody td {
    border: 1px solid #c2c2c2;
    text-shadow: none;
    font-size: 20px;
    color: #8a8687;
    background: #fff;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: 400; }
  .main .stats .table tbody tr:hover td {
    color: #fff;
    background: #608b7e; }

.main .stats .bombardier .name, .main .stats .penalty .name {
  width: 241px; }

.main .stats .sniper .name, .main .stats .assist .name {
  width: 341px; }

@charset "UTF-8";
.manager {
  height: 1200px; }
  .manager .container_12.menu {
    height: 240px; }
  .manager .block {
    height: 500px; }
  .manager nav {
    text-align: center; }
  .manager #menu {
    display: block;
    margin-top: 30px;
    /*Задаём стили для разделов нашего меню*/
    /*Делаем скрытую часть видимой*/ }
    .manager #menu li {
      display: inline-block;
      position: relative;
      height: 40px;
      font-size: 14px;
      font-family: 'Economica', sans-serif;
      border: 1px solid #c2c2c2;
      color: #908b8b;
      line-height: 40px;
      width: 130px;
      text-align: center;
      box-sizing: border-box;
      /*Стили для скрытого выпадающего меню*/ }
      .manager #menu li ul {
        position: absolute;
        top: 40px;
        left: -1px;
        display: none;
        border: 1px solid #c2c2c2;
        width: 128px; }
    .manager #menu li:hover {
      background-color: #608b7e;
      color: #FFF; }
      .manager #menu li:hover ul {
        display: block; }
  .manager .box {
    margin-top: 0; }
  .manager .shown {
    display: none; }
    .manager .shown .settings .subblock {
      display: none; }

.matches .match {
  height: 500px;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background: url("/images/stadium.png") 50% 50%;
  color: #fff; }
  .matches .match .center {
    width: 20%;
    margin-top: 150px; }
    .matches .match .center .time {
      text-align: center;
      font-size: 13px; }
    .matches .match .center h3 {
      font-size: 72px;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 15px; }
  .matches .match .left, .matches .match .center, .matches .match .right {
    float: left; }
  .matches .match .left, .matches .match .right {
    width: 40%;
    margin-top: 90px;
    margin-bottom: 80px; }
    .matches .match .left .img, .matches .match .right .img {
      margin-bottom: 30px; }
      .matches .match .left .img img, .matches .match .right .img img {
        width: 200px;
        height: 200px; }

.matches .content {
  width: 100%;
  background: #fff;
  padding: 30px 3.5%;
  overflow: hidden; }
  .matches .content .block h2 {
    float: left;
    position: relative;
    margin: 0 2em -20px 0;
    z-index: 2;
    padding-top: 0; }
  .matches .content .block .tabs {
    max-width: 100%;
    margin: 40px 0 0 0;
    float: left;
    z-index: 1; }
    .matches .content .block .tabs .nav {
      display: table;
      white-space: nowrap;
      padding: 0 0 30px 0; }
      .matches .content .block .tabs .nav b {
        font: 14px 'latobold';
        padding: 0 1em 0 0;
        display: table-cell;
        cursor: pointer;
        color: #02a7fd;
        transition-duration: 0.25s; }
      .matches .content .block .tabs .nav b:hover {
        color: #57ccfd; }
      .matches .content .block .tabs .nav b:after {
        background: transparent;
        bottom: -30px;
        clear: both;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        width: 100%;
        transition-duration: 0.25s;
        z-index: 1; }
      .matches .content .block .tabs .nav b.active {
        color: #000;
        cursor: default; }
      .matches .content .block .tabs .nav b.active:after {
        background: #000; }
  .matches .content .block:after {
    position: relative;
    clear: both;
    display: block;
    bottom: 1px;
    content: '';
    width: 100%;
    height: 1px;
    background: #d7e6ee; }
  .matches .content .content .header {
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px; }
    .matches .content .content .header .subname {
      text-align: center;
      font-family: 'latoblack';
      font-size: 24px;
      margin-bottom: 0;
      overflow: hidden;
      margin-top: 35px; }
    .matches .content .content .header .left {
      float: left;
      text-align: left; }
    .matches .content .content .header .right {
      float: right;
      text-align: right; }
    .matches .content .content .header .left .team .img, .matches .content .content .header .right .team .img {
      width: 80px; }
    .matches .content .content .header .left .team .info, .matches .content .content .header .right .team .info {
      margin-left: 20px; }
      .matches .content .content .header .left .team .info h3, .matches .content .content .header .right .team .info h3 {
        font-size: 36px;
        margin-bottom: 5px;
        font-family: 'latoblack';
        line-height: 1; }
      .matches .content .content .header .left .team .info .city, .matches .content .content .header .right .team .info .city {
        color: #a3a3a3; }

.teams li {
  width: 20%;
  margin: 0 2.5% 40px 2.5%;
  display: inline-block;
  vertical-align: top;
  padding: 20px 3.5%;
  border: 1px solid #d7e6ee; }
  .teams li .img img {
    border-radius: 0;
    height: auto;
    max-height: 80px;
    max-width: 80px;
    overflow: hidden;
    width: 100%; }
  .teams li .home, .teams li .score {
    float: left; }
  .teams li .home {
    width: 35%; }
  .teams li .score {
    width: 30%;
    text-align: center; }
  .teams li .guest {
    text-align: right; }

.teams .banner {
  padding: 60px 0 30px; }
  .teams .banner .block {
    float: left;
    width: 70%;
    padding: 30px 3.5%; }
    .teams .banner .block .img {
      float: left;
      margin-right: 50px;
      width: 200px;
      overflow: hidden; }
      .teams .banner .block .img img {
        width: 100%;
        vertical-align: top; }
    .teams .banner .block .name .table {
      margin-top: 50px; }
  .teams .banner .info {
    float: left;
    width: 30%;
    padding: 0 3.5% 0 0; }

/*# sourceMappingURL=app.css.map */