.main {
  //Верхняя секция - Игры
  .games {
    display: flex;
    justify-content: center;
    .block {
      cursor: pointer;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #c2c2c2;
      text-shadow: none;
      font-size: 24px;
      color: #8a8687;
      background: #fff;
      flex-basis: 10%;
      height: 90px;
      line-height: 45px;
      text-align: center;
      font-weight: 400;
      .participants {
        line-height: 60px;
      }
      .date {
        line-height: 30px;
      }
    }
    .block:nth-child(1n+8){
      //display: none;
    }
  }
  //Вторая секция - Новости + Турнирная таблица
  .teaser {
    height: 455px;
    width: 100%;
    display: flex;
    .main_news { //Новости
      width: 70%;
      position: relative;
      a {
        height: 415px;
        display: block;
        padding: 20px;
        background-color: rgba(0,0,0,.2);
      }
      a:hover {
        background: rgba(0, 0, 0, 0.4);
      }
      h3 { //Титул статьи
        position: absolute;
        width: 100%;
        top: 250px;
        font-size: 50px;
        line-height: 1.1;
        padding: 0 30px 0 0;
        color: #ffffff;
      }
      .date { //Дата создания статьи
        position: absolute;
        bottom: 50px;
        font-size: 18px;
        color: #ccc;
      }
    }
    .tournament {
      width: 30%;
      .table {
        thead {
          height: 39px;
          font-size: 14px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Economica', sans-serif;

          th {
            border: 1px solid #c2c2c2;
            text-transform: uppercase;
            color: #908b8b;
            line-height: 39px;
            width: 3%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }
          th.team {
            width: 18%;
          }
        }

        tbody {
          padding: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          td {
            border: 1px solid #c2c2c2;
            text-shadow: none;
            font-size: 20px;
            color: #8a8687;
            background: #fff;
            height: 100%;
            line-height: 45px;
            text-align: center;
            font-weight: 400;
          }

          tr:hover {
            td {
              color: #fff;
              background: #608b7e;
            }
          }
        }
      }
    }
  }
  //Вторая секция - Остальные новости
  .news {
    height: 150px;
    display: flex;
    .mini {
      width: 20%;
      position: relative;
      a {
        height: 110px;
        display: block;
        padding: 20px;
        background-color: rgba(0,0,0,.2);
        transition: background-color .25s ease;
        p {
          position: absolute;
          bottom: 0;
          color: #FFF;
        }
      }
      a:hover {
        background-color: rgba(0,0,0,0.4)!important;
      }
    }
  }
  //Третья секция - Статистика
  .stats {

    .table {
      thead {
        height: 39px;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Economica', sans-serif;

        th {
          border: 1px solid #c2c2c2;
          text-transform: uppercase;
          color: #908b8b;
          line-height: 38px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        .normal {
          width: 100px;
        }
        .num {
          width: 70px;
        }
      }

      tbody {
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        td {
          border: 1px solid #c2c2c2;
          text-shadow: none;
          font-size: 20px;
          color: #8a8687;
          background: #fff;
          height: 100%;
          line-height: 40px;
          text-align: center;
          font-weight: 400;
        }

        tr:hover {
          td {
            color: #fff;
            background: #608b7e;
          }
        }
      }
    }

    .bombardier, .penalty {
      .name {
        width: 241px;
      }
    }
    .sniper, .assist {
      .name {
        width: 341px;
      }
    }
  }
  //Нижняя секция - Календарь
  .calendar {

  }
}