$light_grey: #c2c2c2;
$grey: #908b8b;
$green: #608b7e;
$white: #FFF;

.manager {
  height: 1200px;
  .container_12.menu {
    height: 240px;
  }
  .block {
    height: 500px;
  }
  nav {
    text-align: center;
  }

  #menu {
    display:block;
    margin-top: 30px;

    /*Задаём стили для разделов нашего меню*/
    li {
      display: inline-block;
      position: relative;
      height: 40px;
      font-size: 14px;
      font-family: 'Economica', sans-serif;
      border: 1px solid $light_grey;
      color: $grey;
      line-height: 40px;
      width: 130px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      /*Стили для скрытого выпадающего меню*/
      ul {
        position:absolute;
        top: 40px;
        left: -1px;
        display:none;
        border: 1px solid $light_grey;
        width: 128px;
      }
    }

    /*Делаем скрытую часть видимой*/
    li:hover {
      background-color: $green;
      color: $white;
      ul {
        display: block;
      }
    }
  }

  .box {
    margin-top: 0;
  }

  .shown {
    display: none;
    .settings {
      .subblock {
        display: none;
      }
    }
  }
}