.news { // Страница Новости
  .block {
    .date { //Фигура с датой
      width: 100%;
      background: #fff;
      padding: 30px 3.5%;
      overflow: hidden;
      position: relative;
      .figure {
        position: relative;
        display: inline-block;
        background: #02a7fd;
        height: 1.6em;
        line-height: 1.5em;
        margin: 0 1.4em;
        z-index: 2;
      }
      .figure:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: -1.4em;
        width: 1.4em;
        height: 100%;
        background: url('../img/blue.png') 0 100% no-repeat;
      }
      .figure:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: -1.4em;
        width: 1.4em;
        height: 100%;
        background: url('../img/blue.png') 100% 0 no-repeat;
      }
    } // Фигура с датой

    .articles { //Блок с новостями
      overflow: hidden;
      background: #fff;
      .news{
        float: left;
        width: 100%;
        padding: 0 3.5% 30px 3.5%;
        .main { //Главная новость
          position: relative;
          box-sizing: border-box;
          .image {
            height: 410px;
            background: url(/upload/iblock/5e6/5e639993ae95a9e71a0513d2f4345a48.jpg) 50% 50% no-repeat;
            background-size: cover;
          }
          a {
            color: #000;
            margin-top: 12px;
            h4 {
              margin-bottom: 0;
              .timestamp {
                color: #999999;
                font-family: 'latoregular';
                font-size: 14px;
              }
              .timestamp:before {
                content: '<';
                font-family: 'icomoon';
                margin-right: 5px;
                color: #cacfd1;
              }
            }
          }
        }  //Главная новость
        .rest {
          display: flex;
          .flex {
            float: left;
            padding: 25px 1.75% 0;
            width: 50%;
          }
        }
      }
    } //Блок с новостями
  }
}