.teams {
  .list {
    margin-top: 50px;
    li {
      width: 26%;
      margin: 0 2.5% 40px 2.5%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      vertical-align: top;
      padding: 20px 3.5%;
      border: 1px solid #d7e6ee;
      .team {
        display: flex;
        width: 100%;
        align-items: center;
        .img {
          img {
            max-width: 100px;
            max-height: 100px;
            flex-basis: 40%;
          }
        }
        .text {
          flex-basis: 60%;
          line-height: 2;
          padding-left: 5%;
        }
        .hrefs {
          flex-basis: 30%;
          line-height: 2;
        }
      }
    }
  }
  li {
    width: 20%;
    margin: 0 2.5% 40px 2.5%;
    display: flex;
    vertical-align: top;
    padding: 20px 3.5%;
    border: 1px solid #d7e6ee;
  }
  .calendar {
    display: flex;
    .played, .notPlayed {
      flex-basis: 50%;
      padding: 30px 3.5%;
      li {
        width: 88%;
        margin: 0 2.5% 40px 2.5%;
        display: flex;
        vertical-align: top;
        padding: 20px 3.5%;
        border: 1px solid #d7e6ee;
        .home, .guest {
          flex-basis: 35%;
          display: flex;
          img {
            border-radius: 0;
            height: auto;
            max-height: 80px;
            max-width: 80px;
            overflow: hidden;
            width: 100%;
          }
          .img {
            flex-basis: 30%;
          }
          .info {
            flex-basis: 60%;
          }
        }
        .score {
          flex-basis: 30%;
          text-align: center;
        }
        .home {
          .info {
            margin-left: 10%;
          }
        }
        .guest {
          text-align: right;
          .info {
            margin-right: 10%;
          }
        }
      }
    }
  }
  .banner {
    padding: 60px 0 30px;
    .block {
      float: left;
      width: 70%;
      padding: 30px 3.5%;
      .img {
        float: left;
        margin-right: 50px;
        width: 200px;
        overflow: hidden;
        img {
          width: 100%;
          vertical-align: top;
        }
      }
      .name {
        .table {
          margin-top: 50px;
        }
      }

    }
    .info {
      float: left;
      width: 30%;
      padding: 0 3.5% 0 0;
    }
  }
}